@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-gifts.js"></script>
    <script src="~/js/giftsController.js"></script>
}
<h2>Gifts in My Closet</h2>


<div class="container" ng-app="app-gifts">
    <div ng-controller="giftsController as vm">
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <div class="text-center" ng-show="vm.isBusy"><i class="fa fa-spin fa-spinner"></i> Loading</div>
        <div class="add-item">
            <a asp-controller="App" asp-action="AddGift"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
        <div class="col-md-12">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr class="row list-header">
                        <th>Gift</th>
                        <th>Recipient</th>
                        <th class="hidden-xs">Holiday </th>
                        <th>Price</th>
                        <th class="hidden-xs">Store/Link</th>
                        <th class="hidden-xs">Purchased</th>
                        <th class="hidden-xs">Wrapped</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item row" ng-class="{'editing-item': editing, 'edited': gift.edited}" ng-repeat="gift in vm.gifts">
                        <td class="col-md-2">
                            <label ng-hide="editing" ng-click="editing=true">{{gift.name}}</label>
                            <input ng-show="editing" ng-blur="editing = false" class="editing-label form-control input-sm" type="text" ng-model="gift.name" ng-change="gift.edited = true" />
                        </td>
                        <td class="col-md-2">
                            <label ng-hide="editing" ng-click="editing=true">{{gift.recipientName}}</label>
                            <select ng-show="editing" ng-blur="editing = false" class="editing-label form-control input-sm" ng-model="gift.recipientName" ng-change="gift.edited = true">
                                <option ng-repeat="recipient in vm.recipients" value="{{recipient.name}}">{{recipient.name}}</option>
                            </select>
                        </td>
                        <td class="col-md-2">
                            <label ng-hide="editing" ng-click="editing=true">{{gift.holidayName}}</label>
                            <select ng-show="editing" ng-blur="editing = false" class="editing-label form-control input-sm" ng-model="gift.holidayName" ng-change="gift.edited = true">
                                <option ng-repeat="holiday in vm.holidays" value="{{holiday.name}}">{{holiday.name}}</option>
                            </select>
                        </td>
                        <td class="col-md-1">
                            <label ng-hide="editing" ng-click="editing=true">${{gift.price}}</label>
                            <input ng-show="editing" ng-blur="editing = false" class="editing-label form-control input-sm" type="text" ng-model="gift.price" ng-change="gift.edited = true" />
                        </td>
                        <td class="col-md-2">
                            <label ng-hide="editing" ng-click="editing=true">{{gift.storeLink}}</label>
                            <input ng-show="editing" ng-blur="editing = false" class="editing-label form-control input-sm" type="text" ng-model="gift.storeLink" ng-change="gift.edited = true" />
                        </td>
                        <td class="col-md-1 hidden-xs"><input type="checkbox" ng-model="gift.purchased" ng-click="editing=true" ng-change="gift.edited=true" ng-blur="editing = false" /></td>
                        <td class="col-md-1 hidden-xs"><input type="checkbox" ng-model="gift.wrapped" ng-click="editing=true" ng-change="gift.edited=true" ng-blur="editing = false" /></td>
                        <td class="col-md-1">
                            <a href="" class="save" ng-click="vm.saveGifts()"><i class="fa fa-save"></i></a>&nbsp;&nbsp;<a href="" class="delete" ng-click="vm.deleteGift(gift, $index)"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ul class="pager"><li><a href="#"><i class="fa fa-long-arrow-left"></i> Prev</a></li>&nbsp;&nbsp;<li><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li></ul>
            </div>
        </div>
    </div>
</div>
