html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 250px;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list-header {
    color: #009871;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.bottom-menu-item a, 
.bottom-menu-item a:visited, 
.bottom-menu-item a:link, 
.bottom-menu-item a:active {
    text-decoration: none;
}

.bottom-menu-item a:hover, 
.bottom-menu-item a:focus {
     background-color: #217dbb;
}

.add-item {
    float: right;
    padding-right: 40px;
}

.add-item a,
.add-item a:visited,
.add-item a:link,
.add-item a:active {
    text-decoration: none;
}

.add-item a:hover,
.add-item a:focus {
    color:#217dbb;
}

.delete{
    color: #871f1f;
}

.delete:hover, 
.delete:focus{
    color: #f23737;
}

.save:hover,
.save:focus {
    color:#217dbb;
}

.editing-label {
    color: #3d3d3d;
}

.main {
  margin: 0 auto;
  padding-top: 64px; 
}

