body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list-header {
    color: #009871;
}

/*.footer {
    position: fixed;
    bottom: 0;
}*/

.bottom-menu-bar {
    position: fixed;
    bottom: 50px;
}


.bottom-menu-item a, 
.bottom-menu-item a:visited, 
.bottom-menu-item a:link, 
.bottom-menu-item a:active {
    text-decoration: none;
}

.bottom-menu-item a:hover, 
.bottom-menu-item a:focus {
     background-color: #217dbb;
}

.add-item {
    float: right;
    padding-right: 40px;
}

.add-item a,
.add-item a:visited,
.add-item a:link,
.add-item a:active {
    text-decoration: none;
}

.add-item a:hover,
.add-item a:focus {
    color:#217dbb;
}

.delete{
    color: #871f1f;
}

.delete:hover, 
.delete:focus{
    color: #f23737;
}

.save:hover,
.save:focus {
    color:#217dbb;
}